body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background: linear-gradient(180deg, #eaeaf1, #73ba75aa);
}

body.cloudy {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background: linear-gradient(180deg, #eaeaf1, #757575);
}

body.sunny {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background: linear-gradient(180deg, #eaeaf1, #f3f77d);
}

body.snowy {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background: linear-gradient(180deg, #eaeaf1, #91c6ff);
}

body.rainy {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background: linear-gradient(180deg, #eaeaf1, #48496f);
}

p {
    color: gray;
    text-align: center;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 250px;
    text-align: center;
}

.city_name input[type="text"] {
    margin: 0;
    outline-width: 0;
    width: 250px;
    border-radius: 5px 0 0 5px;
}

.button {
    border: 1px solid #a1a1a1;
    outline-width: 0;
    border-radius: 10px;
    border-radius: 0 5px 5px 0;
}

#city_name {
    margin-top: 25px;
}

#city {
    font-size: 46px;
    margin-bottom: 0px;
}

#temperature {
    font-size: 52px;
    margin-bottom: 0px;
    font-weight: bold;
}

#flex {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}